**EXTRACCION Y ANALISIS DE DATOS**

In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np
tf.__version__

'2.15.0'

In [8]:
olympics= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/olympics/olympics.csv', delimiter=',')

In [9]:
olympics= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/olympics/olympics.csv', delimiter=',', skiprows=4)

In [10]:
olympics.head(n=10)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold

**ENCONTRAR CORRELACION DE VARIALBLES**

In [12]:
olympics.corr()['Medal']

ValueError: could not convert string to float: 'Athens'

In [13]:
olympics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          29216 non-null  object
 1   Edition       29216 non-null  int64
 2   Sport         29216 non-null  object
 3   Discipline    29216 non-null  object
 4   Athlete       29216 non-null  object
 5   NOC           29216 non-null  object
 6   Gender        29216 non-null  object
 7   Event         29216 non-null  object
 8   Event_gender  29216 non-null  object
 9   Medal         29216 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

**EXTRAER INFORMACION DE DATASET**

In [15]:
olympics['Sport'].value_counts()

Sport
Aquatics             3828
Athletics            3448
Rowing               2523
Gymnastics           2214
Fencing              1547
Football             1387
Hockey               1325
Wrestling            1140
Shooting             1105
Sailing              1061
Cycling              1025
Canoe / Kayak        1002
Basketball            940
Volleyball            910
Equestrian            894
Handball              886
Boxing                842
Weightlifting         548
Judo                  435
Baseball              335
Archery               305
Tennis                272
Rugby                 192
Softball              180
Modern Pentathlon     174
Badminton             120
Table Tennis          120
Tug of War             94
Taekwondo              80
Polo                   66
Lacrosse               59
Golf                   30
Ice Hockey             27
Skating                27
Cricket                24
Triathlon              18
Rackets                10
Croquet                 8
Water Motorsports       5
Basque Pelota           4
Jeu de paume            3
Roque                   3
Name: count, dtype: int64

In [17]:
gold_medal= olympics[(olympics.Medal=='Gold') & (olympics.Sport=='Athletics')]

In [18]:
gold_medal['NOC'].value_counts()[:5]

NOC
USA    472
URS     79
GBR     63
FIN     60
GDR     50
Name: count, dtype: int64

In [21]:
olympics[olympics.NOC=='URU']

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
4542,Paris,1924,Football,Football,"ANDRADE, José",URU,Men,football,M,Gold
4543,Paris,1924,Football,Football,"ARISPE, Pedro",URU,Men,football,M,Gold
4544,Paris,1924,Football,Football,"CASELLA, P.",URU,Men,football,M,Gold
4545,Paris,1924,Football,Football,"CEA, Pedro",URU,Men,football,M,Gold
4546,Paris,1924,Football,Football,"CHIAPPARA, L.",URU,Men,football,M,Gold
...,...,...,...,...,...,...,...,...,...,...
9141,Melbourne / Stockholm,1956,Basketball,Basketball,"MOGLIA, Oscar",URU,Men,basketball,M,Bronze
9142,Melbourne / Stockholm,1956,Basketball,Basketball,"OLASCOAGA, Ariel",URU,Men,basketball,M,Bronze
9143,Melbourne / Stockholm,1956,Basketball,Basketball,"SCARON, Milton A.",URU,Men,basketball,M,Bronze
10999,Tokyo,1964,Boxing,Boxing,"RODRIGUEZ, Washington",URU,Men,51 - 54kg (bantamweight),M,Bronze
24042,Sydney,2000,Cycling,Cycling Track,"WYNANTS, Milton Ariel",URU,Men,Points Race,M,Silver

In [22]:
olympics[olympics.NOC=='URU'].Sport.value_counts()

Sport
Football      44
Basketball    24
Rowing         6
Boxing         1
Cycling        1
Name: count, dtype: int64

In [23]:
olympics[(olympics.NOC=='URU') & (olympics.Sport=='Rowing')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6222,Los Angeles,1932,Rowing,Rowing,"DOUGLAS, Guillermo",URU,Men,single sculls (1x),M,Bronze
7828,London,1948,Rowing,Rowing,"JONES, William",URU,Men,double sculls (2x),M,Bronze
7829,London,1948,Rowing,Rowing,"RODRIGUEZ, Juan A.",URU,Men,double sculls (2x),M,Bronze
7899,London,1948,Rowing,Rowing,"RISSO, Eduardo G.",URU,Men,single sculls (1x),M,Silver
8701,Helsinki,1952,Rowing,Rowing,"RODRIGUEZ, Juan A.",URU,Men,double sculls (2x),M,Bronze
8702,Helsinki,1952,Rowing,Rowing,"SEIJAS, Miguel",URU,Men,double sculls (2x),M,Bronze